<!DOCTYPE html>
<html>

<head>
  <!-- Metadata -->
  <title><%=forumName%> - Logout</title>
  <!-- Google Fonts Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima&family=Spline+Sans+Mono&display=swap" rel="stylesheet">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<!-- Logout Confirmation Page -->

<body>
  <!-- Page Header -->
  <h1><%= forumName %></h1>

  <!-- Navigation Bar -->
  <div class="banner">
    <div class="leftAlign"></div>
    <div class="rightAlign">
      <!-- Home Button -->
      <form action="./">
        <button class="btnbtn">Home</button>
      </form>
    </div>
  </div>

  <!-- Logout Confirmation Message -->
  <h2>You have successfully logged out. Goodbye.</h2>
</body>

</html>
